<div class="dropdown mb-5">
  <div class="input-group">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Select Options
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li>
        <label class="dropdown-item"
          ><input type="checkbox" value="Beach" /> Beach</label
        >
      </li>
      <li>
        <label class="dropdown-item"
          ><input type="checkbox" value="Vineyards" /> Vineyards</label
        >
      </li>
      <li>
        <label class="dropdown-item"
          ><input type="checkbox" value="Rooms" /> Rooms</label
        >
      </li>
      <li>
        <label class="dropdown-item"
          ><input type="checkbox" value="Top of the world" /> Top of the
          world</label
        >
      </li>
      <li>
        <label class="dropdown-item"
          ><input type="checkbox" value="Amazing Pools" /> Amazing Pools</label
        >
      </li>
      <li>
        <label class="dropdown-item"
          ><input type="checkbox" value="Tree City" /> Tree City</label
        >
      </li>
      <li>
        <label class="dropdown-item"
          ><input type="checkbox" value="Lake" /> Lake</label
        >
      </li>
      <li>
        <label class="dropdown-item"
          ><input type="checkbox" value="Caves" /> Caves</label
        >
      </li>
      <li>
        <label class="dropdown-item"
          ><input type="checkbox" value="New" /> New</label
        >
      </li>
      <li>
        <label class="dropdown-item"
          ><input type="checkbox" value="Skiing" /> Skiing</label
        >
      </li>
      <li>
        <label class="dropdown-item"
          ><input type="checkbox" value="Farms" /> Farms</label
        >
      </li>
      <li>
        <label class="dropdown-item"
          ><input type="checkbox" value="Iconic Cities" /> Iconic Cities</label
        >
      </li>
      <li>
        <label class="dropdown-item"
          ><input type="checkbox" value="Camping" /> Camping</label
        >
      </li>
      <li>
        <label class="dropdown-item"
          ><input type="checkbox" value="Trending" /> Trending</label
        >
      </li>
      <li>
        <label class="dropdown-item"
          ><input type="checkbox" value="Arctic" /> Arctic</label
        >
      </li>
      <li>
        <label class="dropdown-item"
          ><input type="checkbox" value="Bed and Breakfast" /> Bed and
          Breakfast</label
        >
      </li>
      <li>
        <label class="dropdown-item"
          ><input type="checkbox" value="Castles" /> Castles</label
        >
      </li>
    </ul>
    <input
      type="text"
      class="form-control"
      id="selectedValues"
      name="categories"
      readonly
    />
  </div>
</div>
