<nav class="navbar navbar-expand-md bg-body-tertiary sticky-top border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"
      ><i class="fa-regular fa-compass" style="color: #da1616"></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse d-flex justify-content-between"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="/listings">Home</a>
      </div>

      <div class="navbar-nav ms-auto search">
        <form
          class="d-flex"
          role="search"
          action="/listings/search"
          method="post"
        >
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            name="search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
      <a class="nav-link ms-auto me-5" href="/listings/new"
        ><b>Airbnb your home</b></a
      >
      <div class="navbar-nav me-5">
        <div class="dropdown me-5 mt-1">
          <button
            class="btn btn-outline-secondary dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa-solid fa-bars"></i>
          </button>
          <ul class="dropdown-menu">
            <% if(!currUser){%>

            <li>
              <a class="text-decoration-none" href="/signUp">
                <button class="dropdown-item" type="button">Sign In</button>
              </a>
            </li>
            <li>
              <a class="text-decoration-none" href="/login">
                <button class="dropdown-item" type="button">Log in</button>
              </a>
            </li>
            <%}%> <% if(currUser){%>
            <li>
              <a class="text-decoration-none" href="/logout">
                <button class="dropdown-item" type="button">Log out</button>
              </a>
            </li>

            <%}%>
          </ul>
        </div>
        <% if (currUser && LoggedInUser) { %>
        <div class="navbar-nav user-nav">
          <div class="nav-link">
            <img class="avatar" src="<%= LoggedInUser.image.url %>" />
          </div>
          <h6 class="mt-4 ms-1"><%=LoggedInUser.username %></h6>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</nav>
