<% layout("/layouts/boilerplate.ejs") %>
<div class="row">
  <div
    class="alert alert-danger d-flex align-items-center col-6 mt-3 offset-3"
    role="alert"
  >
    <div style="width: 70%"><%=err.message %></div>
  </div>
</div>
