<%layout("/layouts/boilerplate") %>
<br />
<br />

<div class="row">
  <h2 class="col-6 offset-4">Sign Up on wanderLust</h2>
  <br />
  <br />
  <div class="col-8 offset-2">
    <form
      action="/signup"
      method="post"
      class="needs-validation"
      novalidate
      enctype="multipart/form-data"
    >
      <div>
        <label for="username" class="form-label">Username</label>

        <input
          type="text"
          name="username"
          id="username"
          class="form-control"
          required
        />
        <div class="valid-feedback">Username Looks good!!!</div>
        <div class="invalid-feedback">Enter the Username!</div>
      </div>

      <br />
      <br />
      <div>
        <label for="pfp" class="form-label">Profile Photo </label>
        <input type="file" name="pfp" id="pfp" class="form-control" />
      </div>
      <br />
      <br />

      <div>
        <label for="email" class="form-label">Email</label>

        <input
          type="email"
          name="email"
          id="email"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Email should be Valid!!</div>
      </div>
      <br />
      <br />
      <div>
        <label for="password" class="form-label">Password</label>

        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          required
        />
      </div>
      <br />
      <br />
      <button class="btn btn-danger add-btn">Add</button>
      <br />
      <br />
    </form>
  </div>
</div>
